/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2020, 10:59:42 PM
    Author     : milind
*/

.show {
    display: block;
}

/* Search box fixes */
.et_search_outer.et_search_outer{
    position: relative;
}

.container.et_search_form_container.search_show {
    display: block;
    opacity: 1;
    position: relative;
    width: 100%;
    min-height: 50px;
    border: 1px solid #ccc;
}

span.et_close_search_field{
    display: none;
}

form.et-search-form{
    min-width: 100%;
}

.et-search-form input {
    width: 100%;
    right: 0;
}
